asgiref==3.7.2
Django==4.1.7
greenlet==2.0.2
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.0.33
mysqlclient==2.1.1
protobuf==3.20.3
SQLAlchemy==2.0.16
SQLAlchemy-Utils==0.41.1
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3
